.container
  .row
    %div(class="col-md-8" )
      %div
        %a.btn.btn-lg.btn-default.btn-default-alt(href="#")
          #customer_name
            #{@name}的财务信息
    %div(class="col-md-4" )
      %div(class="statics-panel clearfix" )
        %div(class="dl" )
          %dt
            %span #{@original_funds}
            %dd  起始资金
        %div(class="dl" )
          %dt
            %span #{@income_total}
            %dd  收入总额
        %div(class="dl" )
          %dt
            %span #{@expenses_total}
            %dd  支出总额
        %div(class="dl" )
          %dt
            %span #{@surplus_finance}
            %dd  剩余资金

    %hr
    %hr

    .col-md-12
      %div(class="panel panel-default" )
        %div(class="panel-heading" )
          %div(class="row" )
            %div(class="col-md-10" )
              %div(class="dl-horizontal filter-dl filter-radio" )
                %dt
                  %span 消费
                  %dd(id='consume')
                    %a(class="label label-primary" href="javascript:{}" onclick="select_classify_filter(this, 'consume')" ) 全部
                    %a(class="label label-blank" href="javascript:{}" onclick="select_classify_filter(this, 'consume')")收入
                    %a(class="label label-blank" href="javascript:{}" onclick="select_classify_filter(this, 'consume')" ) 支出
              %div(class="dl-horizontal filter-dl filter-radio" )
                %dt
                  %span 时段
                  %dd(id='time')
                    %a(class="label label-primary" href="javascript:{}" onclick="select_classify_filter(this, 'time')" ) 全部
                    %a(class="label label-blank" href="javascript:{}" onclick="select_classify_filter(this, 'time')" )本周汇总
                    %a(class="label label-blank" href="javascript:{}" onclick="select_classify_filter(this, 'time')" ) 本月汇总
                    %a(class="label label-blank" href="javascript:{}" onclick="select_classify_filter(this, 'time')" ) 本季度汇总


    .col-md-12
      %table.table.table-hover
        %thead
          %tr
            %td(algin="center")消费
            %td(algin="center")消费类型
            %td(algin="center")消费金额
            %td(algin="center")消费日期
            %td(algin="center")描述

        %tbody
          -@customer.each do |customer|
            %tr
              %td= customer.consume
              %td= customer.consume_type
              %td= customer.consume_value
              %td= customer.created_at.strftime("%Y-%m-%d %H:%M:%S")
              %td= customer.consume_describe
