= form_for @home_page do |f|
  - if @home_page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@home_page.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @home_page.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
